[submodule "DWS-Website-Template"]
	path = DWS-Website-Template
	url = git@github.com:asakpke/DWS-Website-Template.git
[submodule "Learn-PHP-Web-App-Development-using-MySQL"]
	path = Learn-PHP-Web-App-Development-using-MySQL
	url = git@github.com:asakpke/Learn-PHP-Web-App-Development-using-MySQL.git
